.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .card {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 32%;
    }
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}

.card-img {
    margin-bottom: 10px;
}

img {
    width: 100%;
}